th, td{
    border: 1px solid gray;
}
table{
 
    box-shadow: 0px 0px 0.5px 0.5px #2D095E;
    border-radius: 3px;
    width: 100%;
     
}

thead tr{
    background-color: #2D095E;
    color: white;
    height: 50px;

}

tbody tr:nth-child(2n){
    background-color: #f9f8fe;
    
}
td{
    color: #617078;
    height: 50px;
    min-width: 200px;
}

td.time{
    min-width: 100px;
    text-align: center;
}