<table>
    <thead>
         <tr>
            <th>
                Ora 
            </th>
            <th *ngFor="let day of weekDays">{{day| date: "EEEE, d MMM"}}
            </th>
         </tr>
    </thead>
   
    <tbody>
           <tr *ngFor="let timeSlot of timeSlots">
            <td class="time">
                {{timeSlot}}
            </td>
            <td>
                 
            </td>
            <td>
                 
            </td>
            <td>
               
            </td>
            <td>
                 
            </td>
            <td>
                 
            </td>
           </tr>
    </tbody>
</table>